/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -------------------------------- 

xTypography 

-------------------------------- */
h1,
h2 {
  font-family: "Montserrat", sans-serif;
  color: #8C2D6B;
}

h1 {
  font-size: 40px;
  font-weight: 900;
  line-height: 1.2;
  margin: 0 0 0.4em;
}

h2 {
  font-size: 27px;
  font-weight: bold;
  margin: 1em 0;
}

h3 {
  font-size: 27px;
  font-family: "Montserrat", serif;
  font-weight: 900;
}

section > h2::before {
  /* number before each section title */
  color: #d6b7d6;
}

p {
  font-size: 1.125rem;
  line-height: 1.4;
  color: #F2E8F2;
  font-family: "Montserrat", serif;
}
p a {
  color: #D764A2;
  text-decoration: underline;
}

/**************Smoll*****************
/************Screen smoll*******************/
body {
  background-image: url("img/im-space-sen-garden.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  background-attachment: fixed;
}

header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
}
header h1 {
  color: #ffffff;
  margin: 70px auto;
  text-align: center;
  font-size: 2.4375rem;
}
header h2::before {
  content: "";
  background-color: #8C2D6B;
  padding-top: 50px;
  padding-bottom: 80px;
  width: 500%;
  height: auto;
  position: absolute;
  top: -30%;
  right: -50%;
  z-index: -1;
  box-sizing: border-box;
}
header h2 {
  align-items: center;
  color: #ffffff;
  position: relative;
  font-size: 1.6875rem;
  width: 250px;
  text-align: center;
  margin-top: 70px;
}

.summary {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.summary p {
  margin: 50px auto;
  width: 100%;
  text-align: center;
  padding: 0 15%;
  box-sizing: border-box;
}
.summary p + p {
  width: 100%;
  padding: 0 20%;
  box-sizing: border-box;
}

section#zen-intro .preamble {
  background-color: rgba(215, 100, 162, 0.8);
  padding: 15Px;
  margin: 30px 0;
}
section#zen-intro .preamble p {
  color: #ffffff;
  text-align: center;
  padding: 15px 0;
}
section#zen-intro .preamble h3 {
  color: #1F1C3F;
  margin: 0px auto 15px;
  text-align: center;
}

#zen-summary > p:first-child {
  background-color: rgba(31, 28, 63, 0.5);
  padding: 15px 150px;
}

#zen-requirements,
#zen-benefits,
#zen-participation,
#zen-explanation {
  padding: 50px 50px;
  background-color: rgba(31, 28, 63, 0.8);
  margin: 50px auto;
}
#zen-requirements h3,
#zen-benefits h3,
#zen-participation h3,
#zen-explanation h3 {
  color: #D764A2;
  margin-bottom: 20px;
  text-align: center;
}
#zen-requirements p,
#zen-benefits p,
#zen-participation p,
#zen-explanation p {
  color: white;
  text-align: justify;
  margin-bottom: 50px;
}

#zen-participation {
  background-color: rgba(242, 232, 242, 0.8);
}
#zen-participation h3 {
  color: #8C2D6B;
  text-align: center;
}
#zen-participation p {
  color: #1F1C3F;
}
#zen-participation p a {
  color: #8C2D6B;
}

#zen-requirements {
  background-color: rgba(215, 100, 162, 0.8);
}
#zen-requirements h3 {
  color: white;
  font-size: 4rem;
}
#zen-requirements p a {
  color: #1F1C3F;
}

aside.sidebar {
  display: none;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer a {
  margin: 10px;
  padding: 15px;
  box-sizing: border-box;
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
  font-family: "Montserrat", serif;
  font-weight: 900;
  text-decoration: none;
}

/**************Large*****************
/************Screen large*******************/
@media only screen and (min-width: 1028px) {
  .page-wrapper {
    width: 100%;
    margin: 25px auto;
  }

  header {
    display: block;
    position: relative;
  }
  header h1 {
    color: #ffffff;
    text-align: right;
    font-size: 3.4375rem;
  }
  header h2::before {
    content: "";
    background-color: #8C2D6B;
    width: 600px;
    border-left: 800px;
    height: auto;
    position: absolute;
    top: -30px;
    left: 0px;
    z-index: -99999;
  }
  header h2 {
    display: flex;
    align-items: center;
    color: #ffffff;
    width: 100%;
    text-align: left;
    padding-left: 200px;
  }

  .summary p {
    margin: 25px auto;
    width: 650px;
    text-align: center;
  }
  #zen-participation,
#zen-preamble {
    padding-left: 200px !important;
    padding-right: 50px !important;
    width: 500px;
    margin: 0px;
  }
  #zen-participation p,
#zen-preamble p {
    text-align: left !important;
  }

  #zen-benefits,
#zen-explanation {
    padding-right: 200px !important;
    padding-left: 50px !important;
    margin-left: 600px;
    width: 500px;
  }
  #zen-benefits p,
#zen-explanation p {
    text-align: right !important;
  }

  #zen-requirements {
    width: 800px;
    column-count: 2;
    column-gap: 2rem;
  }
  #zen-requirements h3 {
    margin-bottom: 30px !important;
    display: block;
    font-size: 3rem !important;
  }

  footer {
    position: fixed;
    flex-direction: column;
    left: 0;
    top: 0;
  }
  footer a {
    margin: 0 !important;
    width: 130px;
    text-align: center;
  }
  footer .zen-validate-html {
    background-color: #D764A2 !important;
  }
  footer .zen-validate-css {
    background-color: #8C2D6B;
  }
  footer .zen-license {
    background-color: #1F1C3F;
  }
  footer .zen-accessibility {
    background-color: #F2E8F2;
    color: #1F1C3F;
  }
  footer .zen-github {
    background-color: #8C2D6B;
  }
  footer .zen-github:before,
footer .zen-github:after {
    content: "";
    width: 30px;
    height: 30px;
    left: 30px;
    bottom: -30px;
    position: absolute;
    background-color: white;
  }
  footer .zen-github:before {
    left: 65px;
  }

  footer::before {
    content: "";
    width: 0px;
    height: 0px;
    border-right: 65px solid transparent;
    border-top: 50px solid transparent;
    border-left: 65px solid transparent;
    border-bottom: 50px solid #F2E8F2;
    z-index: 9999;
  }
}

/*# sourceMappingURL=style.css.map */
